# Exclude large files
doxee/official-product-documentation/doxee-platform/release-notes/doxee-platform-3/2025/release-notes-doxee-platform-3-48.md
doxee/official-product-documentation/doxee-platform/user-guides/pvideo-designer/pvideo-designer-projects/pvideo-designer-project-settings/pvideo-designer-color-palette.md
